.checkout-section {
  background: #F7FFB4;
  padding: 80px 120px;
  min-height: 80vh;
}

.checkout-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.checkout-form h2 {
  color: #255F83;
  font-size: 48px;
  margin: 0 0 40px 0;
  font-weight: bolder;
}

.contact-info,
.shipping-address {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.contact-info p,
.shipping-address p {
  color: #255F83;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.shipping-address .form-row:last-of-type {
  grid-template-columns: 1fr 1fr 1fr;
}

.checkout-form input,
.checkout-form select {
  padding: 12px 15px;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  font-size: 14px;
  background-color: #FFFFFF;
  font-family: inherit;
}

.checkout-form input::placeholder {
  color: #999;
}

.checkout-form input:focus,
.checkout-form select:focus {
  outline: none;
  border-color: #255F83;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}

.btn-continue {
  padding: 15px 40px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  display: inline-block;
}

.btn-return {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 15px 0px;
  font-size: 16px;
  font-weight: 600;
  color: #255F83;
  background-color: transparent;
}

.return-icon {
  margin-right: 20px;
}

.btn-continue {
  color: #FFFFFF;
  background-color: #255F83;
  border: 2px solid #255F83;
}

.btn-continue:hover {
  background-color: #1b4763;
  border-color: #1b4763;
}

.order-summary {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 30px;
  height: fit-content;
}

.order-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;
}

.order-item {
  display: flex;
  gap: 15px;
  border-bottom: 2px solid #F0F0F0;
}

.order-item img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  background: #F5F5F5;
  border-radius: 8px;
  padding: 5px;
}

.item-details {
  display: inline-flex;
  justify-self: center;
  align-items: center;
  gap: 200px;
}

.item-name {
  color: #255F83;
  font-size: 14px;
  margin: 0 0 8px 0;
  font-weight: 500;
}

.item-price {
  color: #255F83;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.order-total {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.total-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.total-row span {
  color: #255F83;
  font-weight: 600;
  font-size: 16px;
}

.total-amount {
  font-size: 24px !important;
  font-weight: bold !important;
}

.total-tax {
  color: #999;
  font-size: 12px;
  margin: 0;
}
