.card {
  border-radius: 10px;
  padding: 60px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 417px;
  height: 222px;
  position: relative;
}

.card h3 {
  margin: 0 0 12px;
  font-size: 32px;
  font-weight: 700;
  color: #482583;
  max-width: 353px;
}

.card p {
  flex: 1;
  max-width: 353px;
  font-size: 16px;
  color: #255F83;
  line-height: 1.4;
  margin: 0 0 20px 0;
}

.card button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  background-color: #255F83;
  color: #FFFFFF;
  transition: all 0.3s ease;
}

.card button:hover {
  background-color: #1b4763;
  transform: translateY(-3px);
}

/* Variants */
.card--yellow {
  background: #fff45a;
}

.card--white {
  background: #ffffff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.card--white p {
  /* margin-top: 100px; */
  color: #482583;
}

.card--pink {
  background: #ff9fd4;
}

.card-beaver-img {
  left: 0px;
  top: 180px;
  position: absolute;
}

/* Responsive Design */

@media (max-width: 1200px) {
  .card {
    max-width: 360px;
    width: 100%;
    padding: 40px 24px;
    height: 200px;
  }

  .card h3 {
    font-size: 24px;
    max-width: 300px;
    margin-bottom: 10px;
  }

  .card p {
    max-width: 300px;
    font-size: 14px;
    margin-bottom: 16px;
  }

  .card button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .card-beaver-img {
    top: 140px;
    max-width: 90px;
  }
}

@media (max-width: 900px) {
  .toy-actions {
    grid-template-columns: 1fr;
  }

  .card {
    max-width: 100%;
    height: auto;
    padding: 30px 20px;
  }

  .card h3 {
    font-size: 22px;
  }

  .card p {
    font-size: 14px;
  }

  .card-beaver-img {
    display: none;
  }
}
