
.card {
  border-radius: 16px;
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 417px;
  height: auto;
}

.card h3 {
  margin: 0 0 12px;
  font-size: 32px;
  font-weight: 700;
  color: #482583;
  max-width: 353px;
}

.card p {
  flex: 1;
  max-width: 353px;
  font-size: 16px;
  color: #255F83;
  line-height: 1.4;
  margin: 0 0 20px 0;
}

.card button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  background-color: #255F83;
  color: #FFFFFF;
}


/* Variants */
 .card--yellow {
  background: #fff45a;
}  

.card--white {
  background: #ffffff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.card--white p{
    color: #482583;
}

.card--pink {
  background: #ff9fd4;
}

/* Responsive */
@media (max-width: 900px) {
  .toy-actions {
    grid-template-columns: 1fr;
  }
}
