.callout p,a{
    max-width: 266px;
    font-size: 16px;
    font-weight: 400;
    color: #255F83;
}

.callout-left{
    display: flex;
    justify-content: flex-start;
    margin-left: 400px;
}
.callout-right{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.callout-bottom{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.callout-left .content
{
    position: relative;
    top: -20px;
}

.callout-right .content
{
    position: relative;
    left: 200px;
    top: -180px;
}

.callout-bottom .content
{
    position: relative;
    top: 50px;
    left: 50px;
}

.arrow-left{
    position: relative;
    top: 20px;
    left: -30px;
}

.arrow-right{
    position: relative;
    top: -180px;
    left: 100px;
}

.arrow-bottom{
    position: relative;
    top: -30px;
    left: 20px;
}