.safety-section, .sustainability-section{
    background: #FAFFD2;
}

.safety-content {
    display: flex;
    min-height: 700px;
    padding: 124px 121px;
    justify-content: space-evenly;
    align-items: center;
}

.safety-image {
    position: relative;
    width: 554px;
    height: 500px;
}

.safety-img1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

.safety-img2 {
    position: absolute;
    top: -80px;
    right: -60px;
    width: 228px;
    height: auto;
    z-index: 2;
}

.safety-text {
    margin-top: 200px;
}

.sustainability-content
{
  padding: 124px 203px;
  display: flex;
  flex-direction: column;
}

.sustainability-section__top
{
  display: flex;
}

.sustainability-section__top-h2 h2,.sustainability-section__center h2
{
  font-size: 64px;
  font-weight: bolder;
  color: #255F83;
  margin: 0;
  padding : 0px 30px;
  max-width: fit-content;
  min-height: 84px;
  background-color: #FFFFFF;
}

.sustainability-section__top-h2 h2
{
  margin-left: 200px;
}

.sustainability-section__center
{
  margin: 26px;
  margin-left: 400px;
}

.sustainability-section__top-img
{
  background-color: #255F83;
  font-size: 32px;
  font-weight: bolder;
  color: #FFFFFF;
  padding: 6px 12px;
  display: flex;
  gap: 25px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.sustainability-section__bottom
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-left: 50px;
}

.sustainability-section__bottom-p
{
  max-width: 549px;
  color: #255F83;
  font-size: 16px;
}