.review-content
{
    background-color: #DECCFE;
    max-width: 250px;
    border-radius: 10px;
    padding-left: 24px;
    padding-right: 24px;
}

.review-star
{
    margin-top: 24px; 
    margin-bottom : 12px;
}

.review-msg__title
{
    color: #255F83;
    font-size: 20px;
    margin-bottom: 20px;
}

.review-msg__text
{
    color: #255F83;
    font-size: 16px;
    max-width: 262px;
    margin-bottom: 36px;
}

.review-msg__fanname
{
    color: #255F83;
    font-size: 16px;
    margin: 0;
}